@model IEnumerable<CRUD_Operations.Models.UserRegModel>
@{
    ViewBag.Title = "Index";
}


<div class="container">
    <h2 class="mt-4">User Registration List</h2>
    <hr/>
    <p>
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
    </p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.id)</th>
                <th>@Html.DisplayNameFor(model => model.email)</th>
                <th>@Html.DisplayNameFor(model => model.password)</th>
                <th>@Html.DisplayNameFor(model => model.name)</th>
                <th>@Html.DisplayNameFor(model => model.role)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.id)</td>
                    <td>@Html.DisplayFor(modelItem => item.email)</td>
                    <td>@Html.DisplayFor(modelItem => item.password)</td>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.role)</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.id }, new { @class = "btn btn-sm btn-warning" })
                        @Html.ActionLink("Details", "Details", new { id = item.id }, new { @class = "btn btn-sm btn-info" })
                        @Html.ActionLink("Delete", "Delete", new { id = item.id }, new { @class = "btn btn-sm btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
